<%= form_with model: @categories do |f| %>
    <div>
        <%= f.label :title, "Titre de la catégory" %>
        <%= f.text_field :title %>
    </div>

        <div>
        <%= f.label :description, "Description de la catégory" %>
        <%= f.text_area :description %>
        </div>

            <div>
        <%= f.label :title, "Image" %>
        <%= f.file_field :image %>
        </div>

        <%= f.submit "Créer une category" %>
<% end %>