<div id="<%= dom_id post %>" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4); padding: 4px; border-radius: .5rem">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= post.category_id %>
  </p>

</div>
